<div class="well">
  <%= form_for @card, html: {class: "form-horizontal"} do |f| %>
    <h4> <%= @card.new_record? ? "Добавить карточку" : "Редактировать"%> </h4>
    <p>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </p>
    <div class="form-group">
      <%= f.text_field :original_text,   class: "form-control" %>
      <%= f.text_field :translated_text, class: "form-control" %>
    </div>
    <%= f.submit @card.new_record? ? "Создать" : "Изменить", class: "btn btn-success pull-right" %>
    <ul class="list-inline">
      <li>
        <i class="glyphicon glyphicon-align-left"></i>
      </li>
    </ul>
  <% end %>
</div>