<% if !card.present? %>
  <div class = "form-horizontal" >
    <p>
      <h4> Нет карточек </h4>
    </p>
  </div>
<% else %>



  <%= form_tag(reviews_path, method: "POST", class: "form-horizontal") do %>
    <h4>  Проверка </h4>
    <div class="form-group">
      <div class="form-control">
        <%= card.original_text %>
      </div>
    </div>
    <%= hidden_field_tag 'card[card_id]',"#{card.id}"  %>
    <div class="form-group">
      <%= text_field_tag 'card[translated_text]',"" ,class: "form-control", placeholder: "Введите перевод"%>
    </div>
    <div class="clearfix">   
      <%= submit_tag "Проверить", class: "btn btn-success pull-right" %>
    </div>


  <% end %>



<% end %>
