<% if flash[:no_cards] %>
  <div class = "form-horizontal" >
    <p>
      <%= flash[:no_cards] %>
    </p>
  </div>
<% else %>
  <%= form_for card, url: check_card_path, method: "Post", html: {class: "form-horizontal"} do |f| %>
      <h4>  Проверка </h4>
      <div class="form-group">
        <div class="form-control">
          <%= card.original_text %>
        </div>
      </div>

    <input name="card[card_id]" type="hidden" value="<%= @card.id %>" />
    <div class="form-group">
      <%= f.text_field :translated_text, class: "form-control", placeholder: "Введите перевод", value: "" %>
    </div>
    <div class="clearfix">   
      <%= f.submit "Проверить", class: "btn btn-success pull-right" %>
    </div>
  <% end %>
<% end %>
