<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <%= link_to "Flash Cards", root_path, class: "navbar-brand" %>
    </div>
  </div>  
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="collapse navbar-collapse" id="navbar-collapse2">
    <div>
      <p>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </p>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Карточки", cards_path %>
        </li>
        <% if current_user %>
          <li>
            <%= link_to "Edit Profile", edit_profile_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Register", new_registration_path %> 
          </li>
          <li>
            <%= link_to "Login", login_path %>
          </li>
          <li>
            <%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter) %>
          </li>
          <% end %>
      </ul>
    </div>  
  </div>  
</div>
